.products-error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.products-failure-image {
  height: 300px;
  width: 200px;
}

.failure-heading{
  color: #0f172a;
  font-size: 30px;
  font-family: roboto;
  font-weight: bold;
}

.failure-description {
  color: #475569;
  font-size: 15px;
  font-family: roboto;
}

.no-products-heading {
  color: #0f172a;
  font-size: 30px;
  font-family: roboto;
  font-weight: bold;
}

.no-products-description {
  color: #475569;
  font-size: 15px;
  font-family: roboto;
}

.all-products-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .all-products-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .all-products-container {
    margin-left: 30px;
    width: 70%;
  }
}

.products-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 32px;
  }
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 70%;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.all-products-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.no-products-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.no-products-image {
  height: 300px;
  width: 200px;
}
